<% include header.ejs %>

    <div class="container">
        <div class="jumbotron" style="border-color: blue; background: white; margin-top: 2em">
            <div class="container">
                <h1>Welcome <%=currentUser.name%></h1>
            </div>
        </div>

        <div class="card text-center" style="display:flex; flex-wrap: wrap;">
           <div class="row">
             <% products.forEach(function(singleProduct) { %>
                <div class="col-md-4 col-sm-6">
                    <div class="image-groups">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="<%= singleProduct.image %>">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><%= singleProduct.name %></span>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <a class="waves-effect waves-light btn-small add" href="/cart/<%=singleProduct.id%>">Add To cart</a>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <a class="waves-effect waves-light btn-small info" href="/products/<%=singleProduct.id%>">Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                </div>
             <% }); %>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function(){
        $('.carousel').carousel();
    });

</script>

<% include footer.ejs %>
